li {
  position: relative;
}
li::after {
  position: absolute;
  content: '';
  height: 10%;
  width: 0%;
  transform: translate(-50%,50%);
  background-color:white;
  transition: 0.5s;
  bottom: 0;
  left: 50%;
}
li:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  li:hover::after {
    width: 15%;
  }
}
